Cython==3.0.12
astunparse==1.6.3
backcall==0.2.0
certifi==2025.4.26
charset-normalizer==3.4.2
cycler==0.12.1
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.7
google==2.0.3
httplib2==0.22.0
importlib-metadata==8.7.0
ipykernel==6.17.1
ipython==7.34.0
ipython-genutils==0.2.0
jupyter-client==6.1.12
jupyter-core==5.8.1
kiwisolver==1.4.8
matplotlib==3.10.0
matplotlib-inline==0.1.7
more-itertools==10.7.0
mpmath==1.3.0
numpy==2.0.2
opt-einsum==3.4.0
optree==0.16.0
packaging==24.2
pathlib==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.3.8
portpicker==1.5.2
prompt-toolkit==3.0.51
psutil==5.9.5
ptyprocess==0.7.0
pydot==3.0.4
pygments==2.19.1
pynvml==12.0.0
pyparsing==3.2.3
rapids-dask-dependency==25.2.0
scipy==1.15.3
segment-anything==1.0
setuptools==75.2.0
six==1.17.0
sympy==1.13.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.7.1
triton==3.2.0
typing-extensions==4.14.0
wcwidth==0.2.13
zipp==3.22.0
